<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="panel">
        <form method="post">
            <label><b>Old password</b>
            <br>
            <input type="password" name="oldpassword" placeholder="Enter old password" required/></label>
            <br>
            <label><b>New password</b>
            <br>
            <input type="password" name="newpassword" placeholder="Enter new password" required/></label>
            <br>
            {% if error != None %}
                <div>{{error}}</div>
            {% endif %}
            <input type="submit" class="normalbutton" name="btn" value="Change password" />
            <br>
        </form>
        <a href="/cloud">Cancel</a>
    </div>
</body>
</html>