<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud form</title>
    <script type="text/javascript" src="{{ url_for('static', filename='cloud.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="panel">
        <header><strong>Publications cloud</strong></header>
        <span id="error" class="error" aria-live="polite"></span>
        <br>
        <section>
            <form action = "http://frontendpamiw.herokuapp.com/add-publication" method = "GET">
                <button class="normalbutton" type = "submit">Add publication</button>
            </form>
            <ul>
                {%for i in range(0, length)%} 
                <li><button type="button" class="linkbutton" onclick="getPublication('{{links[i]}}')">{{ names[i] }}</button> <button type="button" class="linkbutton" onclick="removePublication('{{links[i]}}')"> remove</button></li>
                {% endfor %}
            </ul>
        </section>
        <button type="button" class="normalbutton" onclick="tryToLogOut()">Log out</button>
        <br>
    </div>
</body>
</html>
