<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication</title>
    <script type="text/javascript" src="{{ url_for('static', filename='cloud.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="panel">
        <header><strong>Pdf cloud</strong></header>
        <span id="error" class="error" aria-live="polite"></span>
        <br>
        <section>
            <form action = "http://localhost:3030/pdfs" method = "POST" enctype = "multipart/form-data">
                <input id="file" type = "file" name = "pdf" required/>
                <input type = "submit" value="Add file"/>
            </form>
            <ul>
                {% for pdf in links %}
                <li><button type="button" class="linkbutton" onclick="getPdf('{{pdf}}')">{{ pdf }}</button> <button type="button" class="linkbutton" onclick="removePdf('{{pdf}}')"> remove</button></li>
                {% endfor %}
            </ul>
        </section>
        <button action="http://localhost:3000/cloud" method="GET" type="button" class="normalbutton">Go back</button>
        <br>
    </div>
</body>
</html>
